html, body {
  height: 100%;
  width: 100%;
}

.container{
/* 	text-align: center; */
	margin: 50px;
}

div.resultsrow{
	display: flex;
  width: 80%;
	justify-content: space-between;
	align-items: center;
}